@model InfnetMVC.Models.Endereco

@{
    ViewData["Title"] = "Criar Endereço";
}

<style>
    .cover-container {
        max-width: 80%;
        border-radius: 3rem;
    }

    .card-body-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .wide-input-reg {
        width: 400px;
        height: 40px;
    }

    .botoes {
        justify-content: center;
        display: flex;
        gap: 1rem;
    }

    .label {
        margin-top: 1rem;
        margin-left: 1rem;
        margin-bottom: 0.5rem;
        text-align: left;
        font-weight: bold;
    }
</style>

<div class="d-flex card shadow p-5 cover-container mx-auto">
    <h2 class="text-center"><i class="fa-solid fa-map-location-dot"></i> @ViewData["Title"]</h2>
    <hr />
    <div class="d-flex card-body-2 flex-column align-items-center">
        <form asp-action="Create" class="w-100">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
            <div class="formulario">
                <div class="form-group my-2">
                    <div class="label">
                        <label asp-for="Logradouro" class="control-label"></label>
                    </div>
                    <input asp-for="Logradouro" class="shadow form-control rounded-pill wide-input-reg" autocomplete="logradouro" aria-required="true" placeholder=" Digite o logradouro..." />
                    <span asp-validation-for="Logradouro" class="text-danger"></span>
                </div>
                <div class="form-group my-2">
                    <div class="label">
                        <label asp-for="Bairro" class="control-label"></label>
                    </div>
                    <input asp-for="Bairro" class="shadow form-control rounded-pill wide-input-reg" autocomplete="bairro" aria-required="true" placeholder=" Digite o bairro..." />
                    <span asp-validation-for="Bairro" class="text-danger"></span>
                </div>
                <div class="form-group my-2">
                    <div class="label">
                        <label asp-for="Municipio" class="control-label"></label>
                    </div>
                    <input asp-for="Municipio" class="shadow form-control rounded-pill wide-input-reg" autocomplete="municipio" aria-required="true" placeholder=" Digite o nome do do município..." />
                    <span asp-validation-for="Municipio" class="text-danger"></span>
                </div>
                <div class="form-group my-2">
                    <div class="label">
                        <label asp-for="Estado" class="control-label"></label>
                    </div>
                    <input asp-for="Estado" class="shadow form-control rounded-pill wide-input-reg" autocomplete="estado" aria-required="true" placeholder=" Digite o estado..." />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
                <div class="form-group my-2">
                    <div class="label">
                        <label asp-for="Cep" class="control-label"></label>
                    </div>
                    <input asp-for="Cep" class="shadow form-control rounded-pill wide-input-reg" autocomplete="cep" aria-required="true" placeholder=" Digite o CEP..." />
                    <span asp-validation-for="Cep" class="text-danger"></span>
                </div>
                <div class="botoes mt-4">
                    <button type="submit" value="Create" class="shadow btn btn-primary rounded-pill p-2"><i class="fa-solid fa-plus"></i> Criar</button>
                    <button asp-action="Index" class="shadow btn btn-secondary rounded-pill p-2"><i class="fa-solid fa-arrow-left"></i> Voltar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}