@model InfnetMVC.Models.Funcionario

@{
    ViewData["Title"] = "Criar Funcionário";
}

<style>
    .cover-container {
        max-width: 80%;
        border-radius: 3rem;
    }

    .card-body-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .wide-input-reg {
        width: 400px;
        height: 40px;
    }

    .botoes {
        justify-content: center;
        display: flex;
        gap: 1rem;
    }

    .label {
        margin-top: 1rem;
        margin-left: 1rem;
        margin-bottom: 0.5rem;
        text-align: left;
        font-weight: bold;
    }
</style>

<div class="d-flex card shadow p-5 cover-container mx-auto">
    <h2 class="text-center"><i class="fa-solid fa-user-tie"></i> @ViewData["Title"]</h2>
    <hr />
    <div class="d-flex card-body-2 flex-column align-items-center">
        <form asp-action="Create" class="w-100">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
            <div class="formulario">
                <div class="form-group my-2">
                    <div class="label">
                        <label asp-for="Nome" class="control-label"></label>
                    </div>
                    <input asp-for="Nome" class="shadow form-control rounded-pill wide-input-reg" autocomplete="nome" aria-required="true" placeholder=" Digite o nome..." />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group my-2">
                    <div class="label">
                        <label asp-for="EnderecoId" class="control-label"></label>
                    </div>
                    <select asp-for="EnderecoId" class="shadow form-control rounded-pill wide-input-reg" asp-items="ViewBag.EnderecoId"></select>
                </div>
                <div class="form-group my-2">
                    <div class="label">
                        <label asp-for="Telefone" class="control-label"></label>
                    </div>
                    <input asp-for="Telefone" class="shadow form-control rounded-pill wide-input-reg" autocomplete="telefone" aria-required="true" placeholder=" Digite o telefone (xx) 12345-1234..." />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="form-group my-2">
                    <div class="label">
                        <label asp-for="Email" class="control-label"></label>
                    </div>
                    <input asp-for="Email" class="shadow form-control rounded-pill wide-input-reg" autocomplete="email" aria-required="true" placeholder=" Digite o e-mail <nome@exemplo.com>..." />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group my-2">
                    <div class="label">
                        <label asp-for="DataNascimento" class="control-label"></label>
                    </div>
                    <input asp-for="DataNascimento" class="shadow form-control rounded-pill wide-input-reg" autocomplete="dataNascimento" aria-required="true" />
                    <span asp-validation-for="DataNascimento" class="text-danger"></span>
                </div>
                <div class="form-group my-2">
                    <div class="label">
                        <label asp-for="DepartamentoId" class="control-label"></label>
                    </div>
                    <select asp-for="DepartamentoId" class="shadow form-control rounded-pill wide-input-reg" asp-items="ViewBag.DepartamentoId"></select>
                </div>
                <div class="botoes mt-4">
                    <button type="submit" value="Create" class="shadow btn btn-primary rounded-pill p-2"><i class="fa-solid fa-plus"></i> Criar</button>
                    <button asp-action="Index" class="shadow btn btn-secondary rounded-pill p-2"><i class="fa-solid fa-arrow-left"></i> Voltar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}