@{
    ViewData["Title"] = "Home Page";
}

<style>
    .cover-container {
        max-width: 100vw;
        padding-top: 3rem;
        padding-left: 26rem;
        padding-right: 26rem;
        margin-bottom: 3rem;
        overflow-y: auto;
        max-height: calc(100vh - 250px); /* Altura máxima da cover-container, ajuste conforme necessário */
    }

    .cover-container h1 {
        font-size: 3.5em;
    }

    .cover-container p {
        font-size: 1.25em;
    }

    .cover-container .btn {
        font-size: 1.25em;
    }
</style>

<div class="cover-container">
    <h2 class="mb-5">Engenharia de Software: Uma Jornada de Aprendizado</h2>
    <img src="~/images/infnet-logo.png" alt="" title="Logomarca INFNET" width="150px" />
    <br />
    <div class="m-5">
        <div>
            <p class="lead">Bem-vindos à página dedicada às disciplinas de C#, Java e UML na Engenharia de Software.</p>
            <p class="lead">Durante este semestre, explorei os fundamentos dessas linguagens e conceitos, buscando aprimorar minha compreensão e habilidades como desenvolvedor de software.</p>
            <img class="my-5 mb-5" src="~/images/c-sharp.png" alt="Imagem C#" width="150px" />
            <p class="lead">A disciplina de C# proporcionou uma imersão nos princípios da linguagem, destacando a importância da programação orientada a objetos e do desenvolvimento de aplicativos web.</p>
            <p class="lead">O estudo de UML como ferramenta de modelagem também foi abordado, fornecendo uma base sólida para visualização e comunicação de design de software.</p>
            <img class="my-5 mb-5" src="~/images/UML_logo.png" alt="Imagem UML" width="150px" />
            <p class="lead">Embora tenha sido uma experiência enriquecedora, reconheço a necessidade de maior ênfase em atividades práticas e projetos que possibilitem a aplicação direta dos conceitos aprendidos.</p>
            <p class="lead">Em suma, esta jornada nas disciplinas de C#, Java e UML tem sido estimulante, e estou ansioso para continuar aprendendo e crescendo como desenvolvedor.</p>
            <p class="lead"><a href="https://www.infnet.edu.br/infnet/" target="_blank" class="btn btn-lg btn-light fw-bold border-white bg-white">Aprenda mais</a></p>
        </div>
    </div>

</div>